DATABASE_URL="postgresql://neondb_owner:YOUR_PASSWORD@ep-xyz-pooler.region.neon.tech/neondb?sslmode=require"
NEXT_PUBLIC_WHATSAPP_NUMBER="03120947187"
NEXT_PUBLIC_SITE_URL="https://tax.yasmeensons.com"
AWS_ENDPOINT_URL_S3="https://YOUR_PROJECT.storage.c-9.us-east-1.aws.neon.tech"
AWS_ACCESS_KEY_ID="nak_live_..."
AWS_SECRET_ACCESS_KEY="nsk_live_..."
AWS_REGION="us-east-1"
S3_BUCKET="assets"
